.button {
  padding: 11px 18px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  color: var(--color-pink);
  background-color: var(--color-light-grey);
  opacity: 0.8;
  transition: all 0.2s ease-in;

    &:hover {
      cursor: pointer;
      color: var(--color-white);
      box-shadow: 5px 5px 10px var(--color-pink);
    }

  @media (max-width: 425px) {
    font-size: 1.2em;
  }
}
